
html {
    background: url(Images/sillohettewithcity.jpg) center fixed;
    font-size: medium;
    font-family: 'city bold';
    background-size: cover; 
}

.flip-card {
    display: block;
    background-color: transparent;
    width: 600px;
    height: 400px;
    perspective: 1000px;
    justify-content: center;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #e5eaee;
    color: black;
    font-weight: bold;
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
  }

.card-1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: large;
}

.card-2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}